.login{
    padding: 4vh 30vw 6vh 30vw;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.login__title{
    font-size: x-large;
    color: midnightblue;
}
.login__oauth{
    margin-top: 2vh;
    margin-bottom: 3vh;
}
.login__oauth__title{
    margin-bottom: 4vh;
    font-weight: lighter;
    font-size: small;
}
.login__oauth__image{
    width: 7vh;
    height: 7vh;
    border-radius: 50%;
}
.login__separator{
    display: flex;
    justify-items: center;
    margin-bottom: 4vh;
}
.login__separator > div {
    padding-top: 1vh;
    flex: 1;
    font-weight: lighter;
    color: #ccc;
}
.login__separator__hr{
    font-weight: lighter;
    color: red;
}
.login__separator > p{
    padding-left: 1vw;
    padding-right: 1vw;
    font-weight: lighter;
    color: gray;
}
.login__local{
    margin-bottom: 4vh;
}
.login__local_form{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 1vw;
    padding-right: 1vw;
}
.login__local_form > label{
    padding-bottom: 1vh;
    font-size: 16px;
    color: #337ABB;
}
.login__local_form > input{
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 2vh;
    display: inline-block;
    border: 2px solid #ccc;
    box-sizing: border-box;
}
.login__local_form > button{
    background-color: #0874FA;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
.login__forgot__password{
    margin-bottom: 1vh;
    color: #337ABB;
    cursor: pointer;
}
.login__signup__option > p > span{
    color: #337ABB;
    cursor: pointer;
}
@media screen and (max-width: 720px){
    .login{
        padding: 4vh 15vw 6vh 15vw;
    }
}
