.logs{
    display: flex;
    flex-direction: column;
    min-height: 82vh;
}
.logs__header{
    padding-top: 3vh;
    padding-left: 3vw;
    font-size: 35px;
    color: maroon;
}
.logs__body{
    padding: 0vw 2vw 2vw 2vw;
}
.logs__body__content{
    display: flex;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px #ccc;
    align-items: center;
    padding-top: 2vh;
    padding-bottom: 2vh;
    margin: 2vw;
}
.logs__body__content__title{
    margin-left: 4vw;
    font-weight: bold;
    font-size: 20px;
}
.logs__body__content__marks{
    display: flex;
    flex-direction: column;
    margin-left: 4vw;
    font-weight: 20;
    font-size: 22px;
    font-style: italic;
}
