.signup{
    padding: 4vh 25vw 6vh 25vw;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.signup__title{
    font-size: x-large;
    color: midnightblue;
}
.signup__oauth{
    margin-top: 2vh;
    margin-bottom: 3vh;
}
.signup__oauth__title{
    margin-bottom: 4vh;
    font-weight: lighter;
    font-size: small;
}
.signup__oauth__image{
    width: 7vh;
    height: 7vh;
    border-radius: 50%;
}
.signup__separator{
    display: flex;
    justify-items: center;
    margin-bottom: 4vh;
}
.signup__separator > div {
    padding-top: 1vh;
    flex: 1;
    font-weight: lighter;
    color: #ccc;
}
.signup__separator__hr{
    font-weight: lighter;
    color: red;
}
.signup__separator > p{
    padding-left: 1vw;
    padding-right: 1vw;
    font-weight: lighter;
    color: gray;
}
.signup__local{
    margin-bottom: 4vh;
}
.signup__local_form{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 1vw;
    padding-right: 1vw;
    font-size: 16px;
    color: #337ABB;
}
.signup__local_form__username{
    display: flex;
    padding-bottom: 1vh;

}
.signup__username{
    display: flex;
    flex-direction: column;
}
.signup__firstname{
    margin-right: 2vw;
}
.signup__lastname{
    flex: 1;
}

.signup__username > label{
    margin-bottom: 1vh;
}

input[type=text], input[type=password], input[type=email]{
    width: 100%;
    padding: 1vh 2vw;
    margin-bottom: 2vh;
    display: inline-block;
    border: 2px solid #ccc;
    box-sizing: border-box;
}
.signup__local_form > button{
    background-color: #0874FA;
    color: white;
    padding: 1vh 2vw;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
.signup__login__option > p > span{
    color: #337ABB;
    cursor: pointer;
}

@media screen and (max-width: 720px){
    .signup__local_form__username{
        display: flex;
        flex-direction: column;
    }
    .signup{
        padding: 4vh 15vw 6vh 15vw;
    }
}
